<div id='contact'></div>

<section class='jumbotron jumbotron-image contact'>
  <div class='container'>

    <h2 class='text-center'>Luke Hamilton</h2>

    <div class='row text-center'>
      <p class='phone-number'>MIAMI, FLORIDA • (772) 501-6790</p>
      <a href="mailto:lukehamiltonmail@gmail.com" class='email-address'>LUKEHAMILTONMAIL@GMAIL.COM</a>
    </div>

    <div class='row social-links'>

      <div class='col-md-6 col-xs-6'>
        <a href="https://github.com/lukehamilton" target="_blank" class='social-link text-center pull-right'>
          <img src="/images/icons/github_icon.png" data-at2x="/images/icons/github_icon@2x.png"/>
          <p class=''>GITHUB</p>
        </a>
      </div>

      <div class='col-md-6 col-xs-6'>
        <a href="https://www.linkedin.com/in/lukemhamilton
" target="_blank" class='social-link text-center pull-left'>
          <img src="/images/icons/linkedin_icon.png" data-at2x="/images/icons/linkedin_icon@2x.png"/>
          <p class=''>LINKEDIN</p>
        </a>
      </div>

    </div>


  </div><!-- /.container -->
</section><!-- /.section -->
