<section class='jumbotron education'>
  <div class='container'>
    <div class='row'>

      <div class='icon-badge text-center'>
        <img src="/images/icons/edu_icon.png" data-at2x="/images/icons/edu_icon@2x.png"/>
        <h3>EDUCATION</h3>
      </div><!-- /.icon-badge -->

      <p class='education-institution text-center'>University of Maryland</p>

      <p class='education-location text-center'>College Park, MD</p>

      <p class='education-degree text-center'>Bachelor of Science in Finance / Information Systems  (Double Major)</p>

      <p class='education-date text-center'>May 2009</p>

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
