<section class='container experience'>

  <div class='row'>
    <h3 class='text-center'>WORK EXPERIENCE</h3>
  </div><!-- /.row -->

  <div class='row' style='margin-bottom: 72px'>

    {% for employer in site.data.employers %}
      <div class='circle-wrap col-xs-12 col-sm-6 col-md-4'>
        <img src="/images/logos/logo-{{ employer.slug }}.png" data-at2x="/images/logos/logo-{{ employer.slug }}@2x.png"/>
        <p class="text-center">{{ employer.period }}</p>
        <div class='circle'></div>
      </div>
    {% endfor %}

  </div><!-- /.row -->

</section><!-- /.container -->
