<nav class="header navbar navbar-fixed-top">
  <div class="container text-center">
    <button class="navbar-toggler hidden-md-up pull-left" type="button" data-toggle="collapse" data-target="#nav-primary">
      &#9776;
    </button><!-- /.navbar-toggler -->
    <div class="collapse navbar-toggleable-sm" id="nav-primary">
      <!-- refactor inline style -->
      <ul class="nav navbar-nav" style="display: inline-block;">
        <li class="nav-item">
          <a class="nav-link active" href="#home" data-scroll-to>HOME</a>
          <!-- <a class="nav-link" href="#home" data-scroll-to>HOME<span class="sr-only">(current)</span></a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience" data-scroll-to>EXPERIENCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills" data-scroll-to>SKILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education" data-scroll-to>EDUCATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects" data-scroll-to>PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" data-scroll-to>CONTACT</a>
        </li>
      </ul> <!-- /.nav -->
    </div><!-- /.collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->
