<section class='jumbotron highlights text-center'>
  <div class='container'>
    <div class='row'>

      <div class="col-sm-12 col-md-12 col-lg-6">

        <div class='icon-badge text-center'>
          <img src="/images/icons/security_icon.png" data-at2x="/images/icons/security_icon@2x.png"/>
          <h3>SECURITY CLEARANCE</h3>
        </div><!-- /.icon-badge -->

        <p class='clearance'>TS SCI with a CI Polygraph</p>

      </div>

      <div class="col-sm-12 col-md-12 col-lg-6">

        <div class='icon-badge text-center'>
          <img src="/images/icons/award_icon.png" data-at2x="/images/icons/award_icon@2x.png"/>
          <h3>AWARDS</h3>
        </div><!-- /.icon-badge -->

        <div class='scholarship'>
          <p class='scholarship-name'>Recipient of President’s Scholarship at University of Maryland</p>
          <p class='scholarship-program'>College Park Scholars Program at University of Maryland</p>
        </div>

      </div>

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
