<div class="jumbotron jumbotron-vh jumbotron-primary jumbotron-light text-center">
  <div class="container">
    <h1>LUKE HAMILTON</h1>
    <h2>Luke Hamilton</h2>
    <div class='row row-centered'>
      <div class='col-centered col-md-6'>
        <p class="lead text-center">
          Echo park austin distillery, kombucha chartreuse banh mi cornhole jean shorts shoreditch vice blue bottle PBR&B crucifix synth. Sartorial small batch man bun, kale chips fap crucifix tacos swag XOXO tousled church-key narwhal.
        </p><!-- /.lead -->
      </div>
    </div>
    <a href="#" class='icon-btn icon-btn-large'>
      <img src="/images/icons/pdf_icon_circle.png" data-at2x="/images/icons/pdf_icon_circle@2x.png"/>
      <p class='download-resume'>DOWNLOAD THE RESUME</p>
    </a>
  </div><!-- /.container -->

  <div class="container contact-container">
    <div class='row contact'>
      <p>MIAMI, FLORIDA • (772) 501-6790<p>
      <p class='email'>LUKEHAMILTONMAIL@GMAIL.COM</p>
    </div>
    <div class='row'>
      <!-- <div class='col-lg-5 col-lg-offset-1 col-md-8 col-md-offset-2'> -->
      <div class='col-md-6 col-xs-6'>
        <a href="#" class='icon-btn icon-btn-small pull-right'>
          <img src="/images/icons/github_icon.png" data-at2x="/images/icons/github_icon@2x.png"/>
          <p class='download-resume'>GITHUB</p>
        </a>
      </div>
      <!-- <div class='col-lg-5 col-lg-offset-1 col-md-8 col-md-offset-2'> -->
      <div class='col-md-6 col-xs-6'>
        <a href="#" class='icon-btn icon-btn-small pull-left'>
          <img src="/images/icons/linkedin_icon.png" data-at2x="/images/icons/linkedin_icon@2x.png"/>
          <p class='download-resume'>LINKEDIN</p>
        </a>
      </div>

    </div>
  </div>

</div><!-- /.jumbotron -->

<div>
Test
</div>
