<section class='jumbotron projects'>
  <div class='container'>

    <div class='row'>
      <div class='icon-badge text-center'>
        <img src="/images/icons/projects_icon.png" data-at2x="/images/icons/projects_icon@2x.png"/>
        <h3>PROJECTS</h3>
      </div><!-- /.icon-badge -->
    </div><!-- /.row -->

    <div class='row'>

      <div class='project col-md-10 col-md-offset-2 col-lg-5 col-lg-offset-1'>
        <div class='circle'></div>
        <h4 class='project-title'>EXAMPLE TITLE OF PROJECT</h4>
        <p class='project-description'>Develop frontpage & fairly short text will go here.</p>
      </div>

      <div class='project col-md-10 col-md-offset-2 col-lg-6 col-lg-offset-0'>
        <div class='circle'></div>
        <h4 class='project-title'>EXAMPLE TITLE OF PROJECT</h4>
        <p class='project-description'>Develop frontpage & fairly short text will go here.</p>
      </div>

      <div class='project col-md-10 col-md-offset-2 col-lg-5 col-lg-offset-1'>
        <div class='circle'></div>
        <h4 class='project-title'>EXAMPLE TITLE OF PROJECT</h4>
        <p class='project-description'>Develop frontpage & fairly short text will go here.</p>
      </div>

      <div class='project col-md-10 col-md-offset-2 col-lg-6 col-lg-offset-0'>
        <div class='circle'></div>
        <h4 class='project-title'>EXAMPLE TITLE OF PROJECT</h4>
        <p class='project-description'>Develop frontpage & fairly short text will go here.</p>
      </div>

    </div>

  </div><!-- /.container -->
</section><!-- /.section -->
