<div id='projects'></div>

<section class='jumbotron projects'>
  <div class='container'>

    <div class='row'>
      <div class='icon-badge text-center'>
        <img src="/images/icons/projects_icon.png" data-at2x="/images/icons/projects_icon@2x.png"/>
        <h3>PROJECTS</h3>
      </div><!-- /.icon-badge -->
    </div><!-- /.row -->

    <div class='row'>

      {% for project in site.data.projects %}
        <div class='project col-md-10 col-md-offset-2 col-lg-5 col-lg-offset-1'>
          <a class="circle-container" href="{{ project.url }}">
            <!-- <div class='circle'> -->
              <!-- <img src="/images/logos/logo-{{ project.slug }}.png" data-at2x="/images/logos/logo-{{ employer.slug }}@2x.png"/> -->
            <!-- </div> -->
            <img src="/images/logos/logo-{{ project.slug }}.png" data-at2x="/images/logos/logo-{{ project.slug }}@2x.png"/>
            <!-- {{ project.slug }} -->
            <h4 class='project-title'>{{ project.name }}</h4>
            <p class='project-description'>{{ project.description }}</p>
          </a>
        </div>
      {% endfor %}

    </div>

  </div><!-- /.container -->
</section><!-- /.section -->
