<div id='skills'></div>

<section class='jumbotron skills'>
  <div class='container'>

    <div class='row'>
      <div class='icon-badge text-center'>
        <img src="/images/icons/code_icon.png" data-at2x="/images/icons/code_icon@2x.png"/>
        <h3>SKILLS</h3>
      </div><!-- /.icon-badge -->
    </div><!-- /.row -->

    <div class='row'>
      <div class='skill-group col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <h4 class='skill-type'>GENERAL</h4>
        <ul>
          <li>JavaScript application architecture</li>
          <li>Single page web applications</li>
          <li>product development</li>
          <li>user interface design / development</li>
        </ul>
      </div>
      <div class='skill-group col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <h4 class='skill-type'>LANGUAGES</h4>
        <ul>
          <li>JavaScript (ES6)</li>
          <li>CoffeeScript</li>
          <li>Node.js</li>
          <li>Ruby</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SASS</li>
        </ul>
      </div>
      <div class='skill-group col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <h4 class='skill-type'>WEB TECH</h4>
        <ul>
          <li>SVG</li>
          <li>AJAX</li>
          <li>JSON</li>
          <li>WebRTC</li>
          <li>WebSockets</li>
          <li>Canvas</li>
          <li>CSS3 Animation</li>
          <li>Responsive Web Design</li>
        </ul>
      </div>
      <div class='skill-group col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <h4 class='skill-type'>FRAMEWORKS</h4>
        <ul>
          <li>Angular.js</li>
          <li>Ionic</li>
          <li>Ember.js</li>
          <li>React</li>
          <li>React Native</li>
          <li>Backbone.js</li>
          <li>Express</li>
          <li>Ruby on Rails</li>
          <li>Sinatra</li>
        </ul>
      </div>

      <div class='skill-group col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <h4 class='skill-type'>BUILD TOOLS</h4>
        <ul>
          <li>Grunt</li>
          <li>Gulp</li>
          <li>WebPack</li>
        </ul>
      </div>
      <div class='skill-group col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <h4 class='skill-type'>LIBRARIES</h4>
        <ul>
          <li>socket.io</li>
          <li>jQuery</li>
          <li>Underscore.js</li>
          <li>lodash</li>
        </ul>
      </div>
      <div class='skill-group col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <h4 class='skill-type'>DATA VIZ</h4>
        <ul>
          <li>D3.js</li>
          <li>Raphael.js</li>
          <li>Highcharts</li>
          <li>Chart.js</li>
        </ul>
      </div>
      <div class='skill-group col-xs-12 col-sm-6 col-md-4 col-lg-3'>
        <h4 class='skill-type'>DATABASES</h4>
        <ul>
          <li>MongoDB</li>
          <li>Redis</li>
          <li>MySQL</li>
          <li>PostgreSQL</li>
          <li>SQLite</li>
        </ul>
      </div>
    </div>

  </div><!-- /.container -->
</section><!-- /.container-fluid -->
