<div id='home'></div>

<section class='jumbotron jumbotron-image text-center splash'>
  <div class='container'>

    <h1>LUKE HAMILTON</h1>

    <h2>Luke Hamilton</h2>

    <p class='lead'>
      Echo park austin distillery, kombucha chartreuse banh mi cornhole jean shorts shoreditch vice blue bottle PBR&B crucifix synth. Sartorial small batch man bun, kale chips fap crucifix tacos swag XOXO tousled
church-key narwhal.
    </p>

    <div class='row download-resume'>
      <a href="#">
        <img src="/images/icons/pdf_icon_circle.png" data-at2x="/images/icons/pdf_icon_circle@2x.png"/>
        <p>DOWNLOAD THE RESUME</p>
      </a>
    </div>

    <div class='row'>
      <p class='phone-number'>MIAMI, FLORIDA • (772) 501-6790</p>
      <p class='email-address'>LUKEHAMILTONMAIL@GMAIL.COM</p>
    </div>


    <div class='row social-links'>

      <div class='col-md-6 col-xs-6'>
        <a href="#" class='social-link text-center pull-right'>
          <img src="/images/icons/github_icon.png" data-at2x="/images/icons/github_icon@2x.png"/>
          <p class=''>GITHUB</p>
        </a>
      </div>

      <div class='col-md-6 col-xs-6'>
        <a href="#" class='social-link text-center pull-left'>
          <img src="/images/icons/linkedin_icon.png" data-at2x="/images/icons/linkedin_icon@2x.png"/>
          <p class=''>LINKEDIN</p>
        </a>
      </div>

    </div>


  </div><!-- /.container -->
</section><!-- /.section -->
