<div id='home'></div>

<section class='jumbotron jumbotron-image text-center splash'>
  <div class='container'>

    <h1>LUKE HAMILTON</h1>

    <h2>Luke Hamilton</h2>

    <p class='lead'>
      I’m an advocate of generosity.<br/>
      I engage and collaborate with colleagues.<br/>
      I am more than a single function, I am a thinker.<br/>
    </p>

    <div class='row download-resume'>
      <!-- <a href="#">
        <img src="/images/icons/pdf_icon_circle.png" data-at2x="/images/icons/pdf_icon_circle@2x.png"/>
        <p>DOWNLOAD THE RESUME</p>
      </a> -->
      <!-- <a href="/pdfs/luke-hamilton-resume.pdf" target="_blank" class='icobutton'> -->
      <a href="/pdfs/luke-hamilton-resume.pdf" class='icobutton'>
        <span></span>
        <p>DOWNLOAD THE RESUME</p>
        <!-- <img src="/images/icons/pdf_icon_circle.png" data-at2x="/images/icons/pdf_icon_circle@2x.png"/>
        <p>DOWNLOAD THE RESUME</p> -->
      </a>
    </div>

    <div class='row'>
      <p class='phone-number'>MIAMI, FLORIDA • (772) 501-6790</p>
      <a href="mailto:lukehamiltonmail@gmail.com" class='email-address'>LUKEHAMILTONMAIL@GMAIL.COM</a>
    </div>


    <div class='row social-links'>

      <div class='col-md-6 col-xs-6'>
        <a href="https://github.com/lukehamilton" target="_blank" class='social-link text-center pull-right'>
          <img src="/images/icons/github_icon.png" data-at2x="/images/icons/github_icon@2x.png"/>
          <p class=''>GITHUB</p>
        </a>
      </div>

      <div class='col-md-6 col-xs-6'>
        <a href="https://www.linkedin.com/in/lukemhamilton" target="_blank" class='social-link text-center pull-left'>
          <img src="/images/icons/linkedin_icon.png" data-at2x="/images/icons/linkedin_icon@2x.png"/>
          <p class=''>LINKEDIN</p>
        </a>
      </div>

    </div>


  </div><!-- /.container -->
</section><!-- /.section -->
