.experience
  background-color: $color-background
  h3
    color: $color-text
    font-family: $font-family-raleway
    font-size: 26px
    font-weight: $font-weight-light
    margin-bottom: 112px
    // 167 - 64 (jumbotron padding)
    margin-top: 103px
    @include media-breakpoint-down(xs)
      // 167 - 32 (jumbotron padding)
      margin-top: 135px

  .circle-wrap:last-child
    // 208 - 64 (jumbotron padding)
    margin-bottom: 144px
    @include media-breakpoint-down(xs)
      // 208 - 32 (jumbotron padding)
      margin-bottom: 176px

  .circle-wrap
    margin-bottom: 73px
    // width: 368px

  .circle
    border: 1px solid $color-circle
    border-radius: 50%
    margin: 0 auto
    position: relative
    height: 303px
    width: 303px
    &:hover
      border-width: .625rem
      box-shadow: 0px 5px 9px 3px rgba(169,169,169,0.50), 2px 2px 3px 4px rgba(235,235,235,0.50)
      cursor: pointer

  img
    position: absolute
    margin: auto
    top: 0
    left: 0
    right: 0
    bottom: 0

  p
    color: $color-text
    font-family: $font-family-open-sans
    font-weight: $font-weight-regular
    position: absolute
    margin: auto
    left: 0
    right: 0
    bottom: 0
    top: 220px
    font-size: 16px

.experience-modal
  .modal-content
    background-color: $color-background-invert

  .modal-header
    border: none

    .close
      color: $color-text-secondary
      opacity: 1
      font-size: 46px
      font-weight: $font-weight-regular
      text-shadow: none
      margin-top: -15px


  .modal-body
    color: $color-text-secondary
    padding: 0
    // 200 - 53
    // margin-top: 147px
    // margin-top: 47px
    margin-top: 39px
    margin-bottom: 100px
    @include media-breakpoint-down(sm)
      margin-bottom: 50px

  .employer-meta
    font-family: $font-family-raleway
    @include media-breakpoint-down(sm)
      text-align: center

    p
      margin: 0

    .employer-logo

    .employer-formal-name
      font-size: 25px
      font-weight: $font-weight-bold
      margin-top: 50px
      @include media-breakpoint-down(sm)
        margin-top: 25px

    .employer-modifier
      font-size: 25px
      font-weight: $font-weight-regular

    .employer-location
      font-size: 22px
      font-weight: $font-weight-bold
      margin-top: 75px
      @include media-breakpoint-down(sm)
        margin-top: 25px

    .employer-position
      font-size: 22px
      font-style: italic
      font-weight: $font-weight-regular

    .employer-period
      font-size: 22px
      font-weight: $font-weight-regular
      margin-top: 38px
      @include media-breakpoint-down(sm)
        margin-top: 25px

  .employer-projects
    font-family: $font-family-open-sans
    @include media-breakpoint-down(sm)
      margin-top: 50px

    .project-title
      font-size: 20px
      font-weight: $font-weight-semi-bold
      margin-bottom: 18px

    .project-bullets
      font-weight: $font-weight-regular
      margin-bottom: 46px

    .project-bullets:last-child
      margin-bottom: 0

    .project-bullet
      margin-bottom: 5px
