.header
  margin-top: 41px


  .navbar-nav .nav-item
    margin: 0 21px 0 21px

  .nav-link
    color: $color-text
    font-family: $font-family-raleway
    font-weight: $font-weight-semi-bold
    font-size: 15px
    padding: 6px 12px 6px 12px
    &:hover
      color: $color-nav-active
      border: 1px solid $color-nav-active
      padding: 5px 11px 5px 11px

  .nav-item
    .nav-link
      &.active
        color: $color-nav-active
        border: 1px solid $color-nav-active
        padding: 5px 11px 5px 11px
