.jumbotron
  position: relative
  margin-bottom: 0
  border-radius: 0
.jumbotron-image
  background-image: url("/images/backgrounds/jumbotron_mountain_bg.png")
  background-size: cover
.jumbotron-vh
  height: 100vh
  @media (min-width: 48em) and (max-height: 1023px)
    height: auto
  // @media screen and (max-height: 690px)
    // height: auto


.jumbotron-light

  h1
    color: $color-text-background-header
    font-family: $font-family-raleway
    font-weight: $font-weight-bold
    font-size: 2.5rem
    position: absolute
    left: 0
    right: 0
    top: 10.75rem
    margin-left: auto
    margin-right: auto
    opacity: .05
    @media #{$iphone-4-landscape}
      // font-size: 3rem
      // top: 6.5rem -> actual proportion from design
      top: 4.2rem
    @media #{$iphone-5-portrait}
      top: 12.7rem
    @media #{$iphone-5-landscape}
      top: 4.12rem
    @media #{$iphone-6-portrait}
      font-size: 2.8rem
      // top: 16.44rem
      top: 15.29rem
    @media #{$iphone-6-landscape}
      // 2.5 rem (base / iphone 4 landscape font size) * 1.17 (ratio of iphone 6 height to iphone 4/5 height ~ 375 / 320)
      font-size: 2.925rem
      top: 4.2rem
    @media #{$iphone-6-plus-portrait}
      font-size: 3.2rem
      top: 16.65rem
    @media #{$iphone-6-plus-landscape}
      font-size: 3.25rem
      top: 4.2rem
    @include media-breakpoint-up(md)
      font-size: 5rem
      top: -25px
    @include media-breakpoint-up(lg)
      font-size: 6rem
      top: -30px

  h2
    font-family: $font-family-raleway
    color: $color-text
    font-size: 1rem
    margin-top: 9.53rem
    margin-bottom: 0
    @media #{$iphone-4-landscape}
      // margin-top: 5.65rem -> actual proportion from design
      margin-top: 3rem
    @media #{$iphone-5-portrait}
      font-size: 1.183rem
      margin-top: 11.41rem
    @media #{$iphone-5-landscape}
      margin-top: 1rem
    @media #{$iphone-6-portrait}
      font-size: 1.4rem
      // margin-top: 15.15rem -> actual proportion from design
      margin-top: 14rem
    @media #{$iphone-6-landscape}
      font-size: 1.17rem
      margin-top: 1.17rem
    @media #{$iphone-6-plus-portrait}
      font-size: 1.54rem
      // margin-top: 16.74rem -> actual proportion from design
      margin-top: 15.59rem
    @media #{$iphone-6-plus-landscape}
      font-size: 1.3rem
      margin-top: 1.3rem
    // min width: 544px +
    @include media-breakpoint-up(sm)
    // min width: 768px +
    @include media-breakpoint-up(md)
      font-size: 2.13rem
      // margin-top: 21.6rem
      margin-top: 33.75vh
    // min width: 992px +
    @include media-breakpoint-up(lg)
      font-size: 2.625rem
      margin-top: 33.75vh

  p
    color: $color-text-lead
    font-family: $font-family-open-sans
    font-size: .564rem
    font-weight: 400
    &.lead
      margin-bottom: 2.8rem
      margin-top: 2rem
      @media #{$iphone-4-landscape}
        margin-bottom: 1.86rem
        margin-top: 1.328rem
        width: 20.6rem
      @media #{$iphone-5-portrait}
        font-size: .676rem
        margin-bottom: 3.353rem
        margin-top: 2.39rem
      @media #{$iphone-5-landscape}
        width: 20.6rem
        margin-bottom: 1.86rem
        margin-top: 1.328rem
      @media #{$iphone-6-portrait}
        font-size: .8rem
        margin-bottom: 3.94rem
        margin-top: 2.8rem
      @media #{$iphone-6-landscape}
        font-size: .66rem
        width: 20.6rem
        margin-bottom: 2.18rem
        margin-top: 1.55rem
      @media #{$iphone-6-plus-portrait}
        font-size: .88rem
        margin-bottom: 4.35rem
        margin-top: 3.1rem
      @media #{$iphone-6-plus-landscape}
        font-size: .73rem
        width: 20.6rem
        margin-bottom: 2.4rem
        margin-top: 1.73rem
      @include media-breakpoint-up(md)
        font-size: 1.2rem
        margin-bottom: 6rem
        margin-top: 4.3rem
        height: 7rem
      @include media-breakpoint-up(lg)
        font-size: 1.5rem
        margin-bottom: 7.4rem
        margin-top: 5.3rem

  .icon-btn
    color: $color-text-icon-btn

    &:hover
      text-decoration: none
    &.icon-btn-large
      p
        font-size: .28rem
        margin-top: .3529rem
        @media #{$iphone-5-portrait}
          font-size: .338rem
          margin-top: .423rem
        @media #{$iphone-6-portrait}
          font-size: .397rem
          margin-top: .496rem
        @media #{$iphone-6-landscape}
          font-size: .3276rem
          margin-top: .413rem
        @media #{$iphone-6-plus-portrait}
          font-size: .44rem
          margin-top: .55rem
        @media #{$iphone-6-plus-landscape}
          font-size: .364rem
          margin-top: .46rem
        @include media-breakpoint-up(md)
          font-size: .6rem
          margin-top: .76rem
        @include media-breakpoint-up(lg)
          font-size: .75rem
          margin-top: .9375rem

      img
        max-width: 100%
        width: 100%
        height: auto !important
        max-height: 21.5px
        max-width: 21.5px
        @media #{$iphone-5-portrait}
          max-height: 25.7px
          max-width: 25.7px
        @media #{$iphone-6-portrait}
          max-height: 30.2px
          max-width: 30.2px
        @media #{$iphone-6-landscape}
          // 21.5 rem (iphone 4/5 landscape) * 1.17 (375/320)
          max-height: 25.16px
          max-width: 25.16px
        @media #{$iphone-6-plus-portrait}
          max-height: 33.3px
          max-width: 33.3px
        @media #{$iphone-6-plus-landscape}
          max-height: 28px
          max-width: 28px
        @include media-breakpoint-up(md)
          max-height: 46px
          max-width: 46px
        @include media-breakpoint-up(lg)
          max-height: 57px
          max-width: 57px

    &.icon-btn-small
      p
        font-size: .235rem
        margin-top: .225rem
        padding: 0 .38rem 0 .38rem
        margin-bottom: 0
        @media #{$iphone-5-portrait}
          margin-top: .28rem
          font-size: .28rem
          padding: 0 .46rem 0 .46rem
        @media #{$iphone-6-portrait}
          margin-top: .33rem
          font-size: .33rem
          padding: 0 .55rem 0 .55rem
        @media #{$iphone-6-landscape}
          margin-top: .263rem
          font-size: .275rem
          padding: 0 .445rem 0 .445rem
        @media #{$iphone-6-plus-portrait}
          margin-top: .35rem
          font-size: .37rem
        @media #{$iphone-6-plus-landscape}
          font-size: .3rem
          margin-top: .29rem
          padding: 0 .5rem 0 .5rem
        @include media-breakpoint-up(md)
          font-size: .5rem
          margin-top: .5rem
          padding: 0 .82rem 0 .82rem
        @include media-breakpoint-up(lg)
          font-size: .625rem
          margin-top: .6rem
          padding: 0 1rem 0 1rem


      img
        max-width: 100%
        width: 100%
        height: auto !important
        max-width: 14px
        max-height: 14px
        @media #{$iphone-5-portrait}
          max-width: 16.7px
          max-height: 16.7px
        @media #{$iphone-6-portrait}
          max-width: 19.6px
          max-height: 19.6px
        @media #{$iphone-6-landscape}
          max-width: 16.38px
          max-height: 16.38px
        @media #{$iphone-6-plus-portrait}
          max-width: 21.64px
          max-height: 21.64px
        @media #{$iphone-6-plus-landscape}
          max-width: 18.2px
          max-height: 18.2px
        @include media-breakpoint-up(md)
          max-width: 30px
          max-height: 30px
        @include media-breakpoint-up(lg)
          max-width: 37px
          max-height: 37px

.jumbotron-primary
  .contact-container
    position: absolute
    left: 0
    right: 0
    bottom: 0.65625rem
    margin-left: auto
    margin-right: auto
    @media #{$iphone-5-portrait}
      bottom: .786rem
    @media #{$iphone-6-portrait}
      bottom: .92rem
    @media #{$iphone-6-landscape}
      bottom: .768rem
    @media #{$iphone-6-plus-portrait}
      bottom: 1rem
    @media #{$iphone-6-plus-landscape}
      bottom: .85rem
    @include media-breakpoint-up(md)
      bottom: 1.4rem
    @media (min-width: 48em) and (max-height: 1023px)
      position: relative
      margin-top: 5.3125rem
      margin-bottom: -4rem
    @include media-breakpoint-up(lg)
      bottom: 1.75rem
    // same as media-breakpoint-up(lg)
    // @media (min-width: 62em) and (max-height: 1024px)
      position: static


  .contact
    p
      color: $color-text
      font-size: .376rem
      margin-top: 0
      margin-bottom: .73rem
      // margin-bottom: .484rem
      @media #{$iphone-4-landscape}
        // margin-bottom: .484rem
      @media #{$iphone-5-portrait}
        margin-bottom: .87rem
        font-size: .45rem
      @media #{$iphone-6-portrait}
        margin-bottom: 1rem
        font-size: .53rem
      @media #{$iphone-6-landscape}
        margin-bottom: .85rem
        font-size: .44rem
      @media #{$iphone-6-plus-portrait}
        margin-bottom: 1.13rem
        font-size: .58rem
      @media #{$iphone-6-plus-landscape}
        margin-bottom: .95rem
        font-size: .5rem
      @include media-breakpoint-up(md)
        margin-bottom: 1.6rem
        font-size: .8rem
      @include media-breakpoint-up(lg)
        margin-bottom: 1.9375rem
        font-size: 1rem

      &.email
        font-weight: $font-weight-semi-bold
        // margin-bottom: .25rem
        margin-bottom: .53rem
        @media #{$iphone-5-portrait}
          margin-bottom: .64rem
        @media #{$iphone-6-portrait}
          margin-bottom: .75rem
        @media #{$iphone-6-landscape}
          margin-bottom: .62rem
        @media #{$iphone-6-plus-portrait}
          margin-bottom: .83rem
        @media #{$iphone-6-plus-landscape}
          margin-bottom: .69rem
        @include media-breakpoint-up(md)
          margin-bottom: 1.15rem
        @include media-breakpoint-up(lg)
          margin-bottom: 1.4rem
