body
  position: relative

.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right
.text-no-wrap
  white-space: nowrap

.pull-left
  float: left
.pull-right
  float: right
// .pull-down
//   position: absolute
//   left: 0
//   right: 0
//   bottom: 0
//   margin-left: auto
//   margin-right: auto

/* centered columns styles */
.row-centered
  text-align: center

.col-centered
  display: inline-block
  float: none
  /* reset the text-align */
  text-align: left
  /* inline-block space fix */
  margin-right: -4px
