// Fonts
$font-family-raleway: 'Raleway', sans-serif
$font-family-open-sans: 'Open Sans', sans-serif

$font-size-root: 16px

$font-weight-light: 300
$font-weight-regular: 400
$font-weight-medium: 500
$font-weight-semi-bold: 600
$font-weight-bold: 700
$font-weight-extra-bold: 800

// Colors
$red-ribbon: #F81851
$scooter: #34bbcc
$white: #fff
$tundora: #424242
$alabaster: #F7F7F7


$color-primary: $red-ribbon
$color-background: $white
$color-background-shade: $alabaster
$color-text: $tundora
$color-text-lead: $red-ribbon
$color-text-icon-btn: $red-ribbon



// Raleway
// light - 300
// regular (normal) - 400
// italic (regular/normal) 400
// medium - 500
// semi-bold - 600
// bold - 700

// Open Sans
// regular (normal) - 400
// semi-bold - 600
// extra-bold - 800

// Lucida Grande
// regular (normal) - 400
