// Fonts

$font-size-root: 16px

$font-family-raleway: 'Raleway', sans-serif
$font-family-open-sans: 'Open Sans', sans-serif
$font-family-lucida-grande: 'Lucida Grande', sans-serif

$font-weight-light: 300
$font-weight-regular: 400
$font-weight-medium: 500
$font-weight-semi-bold: 600
$font-weight-bold: 700
$font-weight-extra-bold: 800

$font-size-h1:  2.5rem !default
$font-size-h2:  2rem !default
$font-size-h3:  1.75rem !default
$font-size-h4:  1.5rem !default
$font-size-h5:  1.25rem !default
$font-size-h6:  1rem !default

// Colors

$red-ribbon: #F81851
$scooter: #34bbcc
$white: #fff
$tundora: #424242
$alabaster: #F7F7F7

$color-primary: $red-ribbon
$color-background: $white
$color-background-shade: $alabaster
$color-background-invert: $red-ribbon
$color-text: $tundora
$color-text-background-header :$red-ribbon
$color-text-lead: $red-ribbon
$color-text-icon-btn: $red-ribbon

// Media Queries

$iphone-4-portrait: 'only screen and (min-width: 320px) and (max-width: 480px) and (aspect-ratio: 2/3) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)'

$iphone-4-landscape: 'only screen and (min-width: 320px) and (max-width: 480px) and (aspect-ratio: 3/2) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)'

$iphone-4-portrait-landscape: 'only screen and (min-width: 320px) and (max-width: 480px) and (aspect-ratio: 2/3) and (-webkit-min-device-pixel-ratio: 2), screen and (aspect-ratio: 3/2)'

$iphone-5-portrait: 'only screen and (min-width: 320px) and (max-width: 568px) and (aspect-ratio: 40/71) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)'

$iphone-5-landscape: 'only screen and (min-width: 320px) and (max-width: 568px) and (aspect-ratio: 71/40) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)'

$iphone-5-portrait-landscape: 'only screen and (min-width: 320px) and (max-width: 568px) and (aspect-ratio: 40/71) and (-webkit-min-device-pixel-ratio: 2), screen and (aspect-ratio: 71/40)'

$iphone-6-portrait: 'only screen and (min-width: 375px) and (max-width: 667px) and (aspect-ratio: 375/667) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)'

$iphone-6-landscape: 'only screen and (min-width: 375px) and (max-width: 667px) and (aspect-ratio: 667/375) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)'

$iphone-6-portrait-landscape: 'only screen and (min-width: 375px) and (max-width: 667px) and (aspect-ratio: 375/667) and (-webkit-min-device-pixel-ratio: 2), screen and (aspect-ratio: 667/375)'

$iphone-6-plus-portrait: 'only screen and (min-width: 414px) and (max-width: 736px) and (aspect-ratio: 9/16) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait)'

$iphone-6-plus-landscape: 'only screen and (min-width: 414px) and (max-width: 736px) and (aspect-ratio: 16/9) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape)'

$iphone-6-plus-portrait-landscape: 'only screen and (min-width: 414px) and (max-width: 736px) and (aspect-ratio: 16/9) and (-webkit-min-device-pixel-ratio: 3), screen and (aspect-ratio: 9/16)'

// iPad:
// @media screen and (device-aspect-ratio: 3/4) {}

// Small devices (landscape phones, 34em and up)
// @media (min-width: 34em) { ... } = 544px

// Medium devices (tablets, 48em and up)
// @media (min-width: 48em) { ... } = 768px

// Large devices (desktops, 62em and up)
// @media (min-width: 62em) { ... } = 992px

// Extra large devices (large desktops, 75em and up)
// @media (min-width: 75em) { ... } = 1200px

// Raleway
// light - 300
// regular (normal) - 400
// italic (regular/normal) 400
// medium - 500
// semi-bold - 600
// bold - 700

// Open Sans
// regular (normal) - 400
// semi-bold - 600
// extra-bold - 800

// Lucida Grande
// regular (normal) - 400
